#top_header {
	width: 100%;
	background-color: #FFFFFF;
}

#logobar {
	height: 93px;
	background: none repeat scroll 0 0 #fff;
	margin: 0 auto;
	text-align: left;
	width: 1030px;
}

#logobar img {
	//padding: 10px 0px 0px 30px;
	margin: 0 auto;
	float: left;
}

#topHeader_lnks {
	float: right;
	padding: 11px 10px 0px 0px;
	margin: 0px;
	text-align: right;
	font-family: "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI",
		"Segoe UI Symbol", "Helvetica Neue", Arial;
	font-size: 14px;
	font-weight: normal;
	color: #675229;
	text-decoration: none;
}

#topHeader_lnks span {
	margin: 0px 5px 0px 5px;
	font-family: "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI",
		"Segoe UI Symbol", "Helvetica Neue", Arial;
	font-size: 14px;
	font-weight: normal;
	color: #675229;
	text-decoration: none;
}

#topHeader_lnks span {
	margin: 0px 10px 0px 10px;
	color: #675229;
}

#topHeader_lnks a {
	margin: 0px;
	padding: 0px;
	color: #675229;
	text-decoration: none;
}

#topHeader_lnks a:hover {
	margin: 0px;
	padding: 0px;
	color: #675229;
	text-decoration: underline;
}

#menubar {
	width: 100%;
	line-height: 40px;
	background-color: #ffcc33;
	color: #FFFFFF;
	cursor: auto;
	font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol",
		"Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
}
/*Menu Css Start*/
#menubar #nav {
	width: 925px;
	margin: 0px auto;
	clear: both;
}

#menubar #nav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	overflow: visible;
}

#menubar #nav ul li {
	float: left;
	height: 40px;
	line-height: 40px;
	margin: 0px 5px 0px 5px;
	padding: 0px;
	display: block;
	text-align: center;
}

#menubar #nav ul li a {
	display: block;
	width: 100%;
	margin: 0px 10px 0px 10px;
	padding: 0px 0px 0px 0px;
	height: 40px;
	text-decoration: none;
	color: #5c4928;
	font-size: 14px;
	font-weight: bold;
}

#menubar #nav ul li a:hover {
	background-color: #5c4928;
	color: #ffffff;
}

.main {
	width: 1040px;
	margin:0px auto;
	clear:both;   
}
.main ul {
	margin:0px;
	padding:0px;
	list-style:none;
	overflow: visible;
	background-color: gray !important;
}


.main ul li {
	float:left;
	height:40px;
	line-height:40px;
	margin:0px 2px 0px 2px;
	padding:0px;
	display:block;
	text-align:center;
}

.main ul li a
{	
	display:block;
	/*width:100%;*/
	margin:0px 0px 0px 0px;
	padding: 0px 17px 0px 17px !important;
	height:40px;
	text-decoration:none;
	color:#5c4928;
	font-size:14px;
	font-weight:bold;
	
}
.main ul li a:hover
{
	background-color: #5c4928;
	color:#ffffff;
}

.active
{
	background-color: #5c4928;
	color:#ffffff !important;	
}

#content_colum {
	margin: 0 auto;
	padding: 0px;
	width: 1050px;
}

#centercol {
	margin: 0px 0px 0px 10px;
	padding: 0;
	float: left;
	width: 1133px;
}

.furcnt_div {
	//border-top: solid 7px #5c4928;
	margin: 20px 0 0 0;
}

.furcnt_div h2 {
	color: #262626;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 30px;
	margin: 0px 0px 0px 0px;
	padding: 14px 0px 0px 0px;
}

.content_header {
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 10px 0px;
}

.content_header h2 {
	border-bottom: solid 1px #c3c3c3;
	border-top: solid 1px #c3c3c3;
	color: #386dcb;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#box_area {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	margin: 20px 21px 0px 0px;
}

#box_area span {
	float: left;
	border: solid 1px #e3e3e3;
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: 0px 21px 0px 0px;
}

#box_area p {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: none;
	text-decoration: none;
	font-size: 13px;
	color: #808080;
	font-weight: normal;
	line-height: 17px;
	padding: 0px 0px 14px 0px;
	margin: 0px 0px 0px 0px;
	display: block;
}

.tbold {
	font-weight: bold;
}

.button {
	background-color: #5c4928;
	color: #FFFFFF;
	border: 0 none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0px 0px 0px 0px;
	padding: 10px 17px 10px 17px;
	cursor: pointer;
}

#footermain {
	border-top: 1px solid #CCCCCC;
	clear: both;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	height: 35px;
	line-height: 35px;
}

.copyright {
	padding: 5px 0px 0px 20px;
	margin: 0px 0px 0px 0px;
	float: left;
	color: #666666;
	font-size: 12px;
}