<div class="cal-wrapper">
	<div class="previous-cal" ng-click="goToPreviousMonth()"
		title="previous month" ng-class="getDisabledMonth()">
		<div class="{{uiClassObject.disabledInnerText}}">&lt;</div>
	</div>
	<div class="cal-table-wrapper">
		<table class="{{uiClassObject.datePickerTable}}"
			ng-repeat="mo in noOfMonths" ng-mouseleave="hoverOutTable()">
			<thead>
				<tr>
					<th colspan='7'>{{mo[1].week[1].date.locale(locale).format('MMMM')}}
						- {{mo[1].week[1].date.locale(locale).format('YYYY')}}</th>
				</tr>
				<tr>
					<th ng-repeat="day in weekDays"><span ng-bind="day"></span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="weekValue in mo">
					<td ng-repeat="day in weekValue.week"
						class="{{day.date.unix()}} {{uiClassObject.datePickerCellClass}} {{day.cssClass}}"
						ng-class="getClassName(day)" ng-click="selectDate(day)"
						ng-mouseover="hoverDate(day.date)">
						{{translateDate(day.date.date(), 'symbolMap')}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="next-cal" ng-click="goToNextMonth()" title="next month"
		ng-class="{'cal-disabled' : disableNextMonth}">
		<div class="inner-text">&gt;</div>
	</div>
</div>
<div class="{{uiClassObject.predefinedRangeList}}">

	<ul class="range-list">
		<li ng-class="{'disabled-date-range': datePicker}"
			class="{{uiClassObject.predefinedRangeListItems}}"
			ng-repeat="date in predefinedDateRanges"
			ng-click="selectPredefinedDate(endTime, date.value)"
			ng-mouseover="hoverListItem($index)" ng-mouseout="hoverOutList()">{{date.label}}<span
			class="turn-icon-option-delete-btn remove-range"
			ng-show="date.custom && date.hovered"
			ng-click="removeListItem($index)"></span></li>
	</ul>
	<div class="custom-range">
		<div class="custom-range-child">
			<span class="label-cal">{{Last}}</span> <input type="text"
				class="last-days-text" ng-model="lastDayCounter" ng-change="test()" />
			<span class="label-cal"> {{days}}</span>
		</div>
		<div class="custom-range-child">
			<div class="add-range" ng-click="addCustomRange()">+</div>
		</div>

	</div>

	<div class="select-date-button">
		<div class="btn btn-default selection-btn {{buttonObject.applyClass}}"
			ng-click="setModelVal()">{{buttonObject.apply}}</div>
		<div
			class="btn btn-default selection-btn {{buttonObject.cancelClass}}">{{buttonObject.cancel}}</div>
	</div>
</div>	